<section id="events">
  <article *ngFor="let tag of userTags" id="event1" class="theEvent">
    <h2>Event 1</h2>
    <section>
      <article id="time1" class="theTime">
        <p>10/11/21 21:00</p>
        <p>40/100</p>
        <button>Booking now</button>
        <div class="numberOfPlace">
          <button>-</button>
          <p>0</p>
          <button>+</button>
        </div>


      </article>
      <article id="time2" class="theTime">
        <p>13/11/21 21:00</p>
        <p>100/100</p>
        <button>Complete</button>

      </article>

    </section>

  </article>

  <!-- <article id="event2" class="theEvent">
    <h2>Event 2</h2>
    <section>
      <article id="time1" class="theTime">
        <p>10/11/21 21:00</p>
        <p>40/100</p>
        <button>Booking now</button>
        <div class="numberOfPlace">
          <button>-</button>
          <p>0</p>
          <button>+</button>
        </div>


      </article>
      <article id="time2" class="theTime">
        <p>13/11/21 21:00</p>
        <p>100/100</p>
        <button>Complete</button>

      </article>

    </section>

  </article> -->
</section>
