<section id="events">
  <article *ngFor="let oneEvent of allEvents" id="event1" class="the-event"
    [ngClass]="oneEvent == statusEvent ? 'selected-event' : 'unselected-event'">
    <div class="title-event">
      <h2 (click)="dropEvent({oneEvent})">
        Event {{oneEvent}}
      </h2>
      <div (click)="closeDrop()" class="close-drop">X</div>
    </div>
    <section class="times-event">

      <article *ngFor="let oneTime of timeOfOneEvent" id="time1" class="the-time"
        [ngClass]="oneTime == statusTime ? 'selected-time' : 'unselected-time'">

        <ul (click)="dropTime({oneTime})">
          <li>
            <p>10/11/21 21:00</p>
          </li>
          <li>
            <p>Seat already taken: 40/100</p>
          </li>
        </ul>
        <section class="number-of-place">
          <article>
            <h5 class="titleSeats">Adult Seats</h5>
            <div class="buttonSeats">
              <button (click)="adultMinusSeats()">-</button>
              <p>{{numberAdultSeats}}</p>
              <button (click)="adultPlusSeats()">+</button>
            </div>
          </article>
          <article>
            <h5 class="titleSeats">Child seats</h5>
            <div class="buttonSeats">
              <button (click)="numberAdultSeats > 0 ? childMinusSeats(): '' "
                [ngClass]="numberAdultSeats > 0 ? 'success' : 'danger'">-</button>
              <p>{{numberChildSeats}}</p>
              <button (click)="numberAdultSeats > 0 ? childPlusSeats() : ''"
                [ngClass]="numberAdultSeats > 0 ? 'success' : 'danger'">+</button>
            </div>
          </article>
        </section>
        <button [ngClass]="numberAdultSeats > 0 ? 'canBook' : 'cannotBook'">Booking now</button>
      </article>

    </section>

  </article>
</section>
