@import "../../theme/variables.scss";

.closeEverything {
  width: 100%;

  a {
    font-size: 40px;
    text-align: left;
    text-decoration: none;
    color: #000;
  }

}

#booking {
  width: 100%;
  margin: auto;
  padding: 0 5%;
  margin-top: 0;
  overflow: auto;
  min-height: 100vh;
  background: $bgGradient;


  div {
    margin-top: 20px;
  }

  h1 {
    text-align: center;
  }

  input,
  select {
    width: 100%;
  }

  .flex {
    display: flex;
    justify-content: space-between;

    div {
      width: 45%;
    }
  }

  button {
    font-size: 1.5em;
    padding: 5px;
    width: 100%;
  }
}
