#booking {
  width: 90%;
  margin: auto;
  margin-top: 0;

  div {
    margin-top: 20px;
  }

  h1 {
    text-align: center;
  }

  input, select {
    width: 100%;
  }

  .flex {
    display: flex;
    justify-content: space-between;

    div {
      width: 45%;
    }
  }

  button {
    font-size: 1.5em;
    padding: 5px;
    width: 100%;
  }
}
