<div id="booking">

  <h1>Customer Informations</h1>

  <div class="flex">
    <div>
      <label for="firstname">First name</label>
      <input type="text" id="firstname" [(ngModel)]="data.booking.customer.firstName" placeholder="firstname">
    </div>

    <div>
      <label for="lastname">Last name</label>
      <input type="text" id="lastname" [(ngModel)]="data.booking.customer.lastName" placeholder="lastname">
    </div>
  </div>

  <div>
    <label for="email">Email address</label>
    <input type="email" id="email" [(ngModel)]="data.booking.customer.email" placeholder="email">
  </div>

  <button routerLink="/select-seat">Book ticket</button>
</div>
