<div class="row" id="seating">

  <h1>Select your seat</h1>

  <div id="seat-selector">

    <div class="seats">
      <div *ngFor="let letter of movieSeats" class="cinema-row">
        <div *ngIf="letter.isTaken; else elseBlock" class="seat seat-taken">
          {{letter.vertical}}{{letter.horizontal}}
        </div>
        <ng-template #elseBlock>
          <div class="seat" (click)="addSeat({n: letter.vertical, l: letter.horizontal}, $event)">

            {{letter.vertical}}{{letter.horizontal}}
          </div>

        </ng-template>
      </div>
    </div>

  </div>

</div>
