#seating {
  width: 100%;
  margin: auto;
  margin-top: 0;
}

#seating>h1 {
  text-align: center;
}

#row-title-numbers {
  display: flex;
  margin-left: 30px;
}

#row-title-numbers>div,
#row-title-letters>div {
  width: 30px;
  height: 30px;
  margin: 5px;
  text-align: center;
  font-size: 20px;
}

#seat-selector{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.seats{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.cinema-row {
  display: flex;

  // width: 100%;

}

.seat {
  width: 31px;
  height: 30px;
  margin: 3px;
  border: solid 1px red;
  font-size: 15px;
  text-align: center;
  border-radius: 10px 10px 0 0;

  // width: 9%;
}
.seat-taken{
  background-color: red;
  border: solid 1px blue;
}

.reserved {
  background-color: palevioletred;
}

.selected {
  background-color: green;
}
