@import "../../theme/variables.scss";

.closeEverything {
  width: 100%;

  a {
    font-size: 40px;
    text-align: left;
    text-decoration: none;
    color: #000;
  }

}

#movie-choice {
  width: 100%;
  padding: 0 5%;
  display: flex;
  flex-direction: column;
  align-items: center;

  overflow-y: auto;

  min-height: 100vh;
  background: $bgGradient;

  .Spider-Man {
    background-image: url(../../assets/imgs/Spider-Man.jpg);
    background-size: cover;

  }

  .Shrek {
    background-image: url(../../assets/imgs/Shrek.jpg);
    background-size: cover;

  }

  .Lord {
    background-image: url(../../assets/imgs/Lord.jpg);
    background-size: cover;

  }

  .Venom {
    background-image: url(../../assets/imgs/Venom.jpg);
    background-size: cover;

  }

  #new-movies {
    .display-movie {

      background-color: tomato;
    }
  }

  #trending-movies {
    .display-movie {

      background-color: yellowgreen;
    }
  }

  #action-movies {
    .display-movie {

      background-color: turquoise;
    }
  }

  #adventure-movies {
    .display-movie {

      background-color: chocolate;
    }
  }

  article {
    margin-bottom: 5vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;

    h3 {
      color: $primaryTxt;
    }


    .display-movies {
      width: 100%;
      margin: 0;
      padding: 0;
      list-style: none;
      // display: flex;
      flex-direction: row;
      // overflow-x: scroll;
      display: flex;
      flex-wrap: nowrap;
      overflow-x: auto;

      .hide-movie {
        display: none;
      }

      .display-movie {
        width: 120px;
        height: 20vh;
        margin-right: 8%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        border-radius: 20px;

        flex: 0 0 auto;

        position: relative;

        a {
          width: 100%;
          min-height: 30%;
          position: absolute;
          bottom: 0;
          text-decoration: none;
          border-radius: 0 0 20px 20px;
          color: azure;
          padding: 0 7%;
          background-color: rgba(0, 0, 0, 0.5);

        }
      }
    }

    p {
      width: 100%;
      text-align: center;
    }

  }
}
