<section id="movie-choice">
  <article id="new-movies">
    <h3>New</h3>
    <ul class="display-movies">
      <li *ngFor="let movie of myArray" [ngClass]="movie.isNew == false ? 'hide-movie' : 'display-movie '+movie.poster.split('.')[0] ">
        <a [routerLink]="['/single-movie-page', movie.title]">

          <div>{{movie.title}}</div>
        </a>
      </li>

    </ul>
  </article>
  <article id="trending-movies">
    <h3>Trending</h3>
    <ul class="display-movies">
      <li *ngFor="let movie of myArray" [ngClass]="movie.isTrending == false ? 'hide-movie' : 'display-movie '+movie.poster.split('.')[0] ">
        <a [routerLink]="['/single-movie-page', movie.title]">
          <div>{{movie.title}}</div>

        </a>
      </li>

    </ul>

  </article>
  <article id="action-movies">
    <h3>Action</h3>
    <ul class="display-movies">
      <li *ngFor="let movie of myArray" [ngClass]="movie.categories != 'action' ? 'hide-movie' : 'display-movie '+movie.poster.split('.')[0]">
        <a [routerLink]="['/single-movie-page', movie.title]">

          <div> {{movie.title}}</div>
        </a>
      </li>

    </ul>
  </article>
  <article id="adventure-movies">
    <h3>Adventure</h3>
    <ul class="display-movies">
      <li *ngFor="let movie of myArray" [ngClass]="movie.categories != 'adventure' ? 'hide-movie' : 'display-movie '+movie.poster.split('.')[0] ">
        <a [routerLink]="['/single-movie-page', movie.title]">

          <div> {{movie.title}} !</div>
        </a>
      </li>

    </ul>
  </article>

</section>
