<section id="movie-choice">
  <article id="new-movies">
    <h3>New movies</h3>
    <ul class="display-movies">
      <li *ngFor="let movie of myArray" [ngClass]="movie.isNew == false ? 'hide-movie' : 'display-movie' ">
        <a [routerLink]="['/single-movie-page', movie.title]">

          <div>{{movie.title}}</div>
        </a>
      </li>

    </ul>
  </article>
  <article id="trending-movies">
    <h3>Trending movies</h3>
    <ul class="display-movies">
      <li *ngFor="let movie of myArray" [ngClass]="movie.isTrending == false ? 'hide-movie' : 'display-movie' ">
        <a [routerLink]="['/single-movie-page', movie.title]">
          <div>{{movie.title}}</div>

        </a>
      </li>

    </ul>

  </article>
  <article id="action-movies">
    <h3>Action movies</h3>
    <ul class="display-movies">
      <li *ngFor="let movie of myArray" class="display-movie">
        <a [routerLink]="['/single-movie-page', movie.title]">

          <div> {{movie.title}} !</div>
        </a>
      </li>

    </ul>
  </article>
  <div>
    <!-- {{myArray[0].title}} -->

  </div>

</section>
