<section id="confirmation-page">
  <h1>Purchase confirmation</h1>
  <section id="qr-code">
    <img src="../../assets/icon/favicon.png" alt="">
    <p>#398DJDMZK26FN</p>
  </section>
  <section id="booking-info">
    <article id="user-info">
      <div>
        <h4>
          Full name
        </h4>
        <p>
          <!-- {{user.name}} --> *** *****
        </p>

      </div>
      <div>
        <h4>
          Email address
        </h4>
        <p>
          <!-- {{user.mail}}--> *****@****
        </p>

      </div>
    </article>
    <article id="event-info">
      <div>
        <h4>Event</h4>
        <p>
          <!--{{event.name}} -->Event 1</p>
      </div>
      <div>
        <h4>Date</h4>
        <p>
          <!--{{event.date}} -->
          fri. 18 - sat. 19
          dec. 2021
          11 PM - 1 AM
        </p>
      </div>
    </article>
  </section>

</section>
