<section id="confirmation-page">
  <h1>Purchase confirmation</h1>
  <section id="qr-code">
    <img src="../../assets/icon/favicon.png" alt="">
    <p id="order-id">#398DJDMZK26FN</p>
  </section>
  <section id="booking-info">
    <article id="user-info">
      <div>
        <h4>
          Full name
        </h4>
        <p id="order-fullName">
          {{data.booking.customer.firstName}} {{data.booking.customer.lastName}}
        </p>

      </div>
      <div>
        <h4>
          Email address
        </h4>
        <p id="order-email">
          {{data.booking.customer.email}}
        </p>

      </div>
      <div>
        <h4>
          Seats
        </h4>
        <p id="order-seats">
          <span *ngFor="let seat of data.booking.seats">
            {{seat.l}}{{seat.n}}
          </span>
        </p>

      </div>
    </article>
    <article id="event-info">
      <div>
        <h4>Event</h4>
        <p id="order-movieTitle">
          {{data.booking.session.movieTitle}}
        </p>
      </div>
      <div>
        <h4>Date</h4>
        <p id="order-date">
          {{data.booking.session.date}}
          at {{data.booking.session.time}}
        </p>
      </div>
    </article>
  </section>

</section>
