<section id="single-movie">
  <h1>{{theMovieInfo.title}}</h1>
  <article>
    <h2>Summary</h2>
    <p>{{theMovieInfo.summary}}</p>
    <h4>Duration : {{theMovieInfo.duration}}</h4>
  </article>
  <article>
    <div *ngFor="let date of theMovieInfo.date">
      <h2>{{date.day}}</h2>

      <ul>
        <li *ngFor="let hour of date.hours" attr.data-movietitle="{{theMovieInfo.title}}" attr.data-date="{{date.day}}" attr.data-time="{{hour}}" (click)="bookMovie($event)">
          {{hour}}
        </li>

      </ul>
    </div>
  </article>
</section>
