@import "../../theme/variables.scss";

.closeEverything {
  width: 100%;

  a {
    font-size: 40px;
    text-align: left;
    text-decoration: none;
    color: #000;
  }

}

#single-movie {
  display: flex;
  flex-direction: column;
  align-items: center;

  overflow-y: auto;
  padding: 7%;
  width: 100%;
  min-height: 100vh;
  background: $bgGradient;

  h1,
  h2,
  h3,
  h4 {
    width: 100%;
    color: $primaryTxt;
  }

  ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;

    li {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 30%;
      padding: 20px 30px;
      background-color: #FFCC70;
      border-radius: 20px;

      color: black;
      font-weight: bold;

    }
  }
}
